<!DOCTYPE HTML>
<div class="col-md-12">


    <!--배너 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th><a href="/information">소개</a></th>
            <th><a href="/program?page=0">상품</a></th>
<!--            <th><a href="/appointment">예약</a></th>-->
            <th><a href="/qna">문의</a></th>
        </tr>
        </thead>

    </table>
</div>
<br>