{{>layout/header}}
{{>layout/banner}}

    <div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <img src="https://i1.daumcdn.net/thumb/R600x0/?fname=https://blog.kakaocdn.net/dn/bZWlr2/btqRrQfrz56/35k9J7UlFKInoICc9yrnx1/img.jpg" alt="">
    </div>

{{>layout/footer}}