{{>layout/header}}

    <div class="col-md-12">
        <!-- 로그인 기능 영역 -->
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn
                       btn-primary">1. 한입 소개글 등록</a>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-12">
        <!-- 로그인 기능 영역 -->
        <div class="row">
            <div class="col-md-6">
                <a href="/program/save" role="button" class="btn
                           btn-primary">2. 프로그램 등록</a>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-12">
        <!-- 로그인 기능 영역 -->
        <div class="row">
            <div class="col-md-6">
                <a href="/manager/reservation" role="button" class="btn
                           btn-primary">3. 예약,신청 관리</a>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-12">
        <!-- 로그인 기능 영역 -->
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn
                           btn-primary">4. 문의 답변 관리</a>
            </div>
        </div>
    </div>
    <br>
{{>layout/footer}}