{{>layout/header}}
{{>layout/banner}}
    <div>&nbsp;&nbsp;&nbsp;프로그램목록</div>
    <br><br>
    <div class="col-md-12">

        <!--목록 출력 영영 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>프로그램번호</th>
                <th>프로그램제목</th>
                <th>프로그램작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#program}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/program/detail/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/program}}
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {{#program_page_number}}
            <li class="page-item"><a class="page-link" href="/program?page={{pageNumber}}">{{pageNumber}}</a></li>
        {{/program_page_number}}
        </ul>
    </nav>
{{>layout/footer}}