{{>layout/header}}
{{>layout/banner}}
    <!--예약 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>예약번호</th>
            <th>프로그램제목</th>
            <th>여행예정일</th>
            <th>예약취소</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#reservation}}
            <tr>
                <td><div id="reservation-delete-id-{{id}}">{{id}}</div></td>
                <td>{{program.title}}</td>
                <td>{{date}}</td>
                <td><button id="{{id}}" onClick="reservation_delete(this.id)">예약삭제</button></td>
                <!--<td><input type = "button" onclick = "reservation_delete()" value = "예약삭제" /></td>-->
                <!--<td><button type="button" class="btn btn-danger" id="btn-reservation-delete">삭제</button></td>-->
            </tr>
        {{/reservation}}
        </tbody>
    </table>
    </div>

    <div>
        문의내역
        <div>
            문의수정
        </div>
    </div>
    <script type="text/javascript">

        function reservation_delete(id) {

            $.ajax({
                type: 'DELETE',
                url: '/api/v1/reservation/' + id,
                dataType: 'json',
                contentType:'application/json; charset=utf-8'
            }).done(function () {
                alert('예약내역이 삭제되었습니다.');
                location.reload();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    </script>
{{>layout/footer}}